[includeIf "gitdir:~/Workspace/work"]
    path = ~/Workspace/work/.gitconfig

[includeIf "gitdir:~/Workspace/personal"]
    path = ~/Workspace/personal/.gitconfig

[includeIf "gitdir:~/Workspace/oss"]
    path = ~/Workspace/oss/.gitconfig

[rerere]
	enabled = true

[core]
    autocrlf = false

[init]
    defaultBranch = main

[branch]
	sort = -committerdate

[fetch]
	prune = true

[alias]
    brancha = branch --column -a
    lol =  log --oneline --decorate
    graph = log --oneline --graph --decorate
    pushf = push --force-with-lease
    watch = maintenance start
    unwatch = maintenance stop

[credential]
    helper = store

[grep]
    lineNumber = true

[color.decorate]
    branch = 45
    HEAD = "#00FFFF" bold

[user]
	email = daniellevilucas@gmail.com
    name = Daniel S A
