.config/qtile/**/__pycache__
*.out
!.config/kitty/
!.config/kitty/**

!.config/zsh/
!.config/zsh/**
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions
.config/zsh/.zcompdump
.config/zsh/.zcompcache

!.config/less/
!.config/less/**
.config/less/.lesshst

!.config/nvim/
!.config/nvim/**

!.config/bat/
!.config/bat/**

!.config/tmux/
!.config/tmux/**
.config/tmux/plugins/

!.config/rules/
!.config/rules/**
.config/rules/**/node_modules

!.config/yazi
!.config/yazi/**

!.config/mpv
!.config/mpv/**
.config/mpv/watch_later

